.row{
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 500px !important;
    height: 500px !important;
    text-align: center !important;
    margin: auto;
}
.card a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
