
  
  .about-image {
    max-width: 90%;
    max-height: 600px;
    border-radius: 20px !important;
    padding: 20px;
    position: relative;
    box-shadow: 0px 0px 10px #ccc;
    
  }
  
 
  
  .about-title {
    font-size: 2rem; /* Desktop */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .about-title {
      font-size: 1.8rem; /* Adjust for smaller screens */
    }
  }
  
  .about-btn {
    border: 2px solid #000;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
  }
  
  .about-btn:hover {
    background-color: #000;
    color: white;
  }
  p{
    flex-wrap: wrap;
  }
  .images img{
    /* background:url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cmVzdGF1cmFudHxlbnwwfHwwfHx8MA%3D%3D");
    background-position:left;
    padding-right: 20px !important;
    margin-top: 10px; */
    border-radius: 20px !important;
    
  }
  .images img:hover{
    transform: translate(-30px,0) !important;
  }
  